.top-panel {
    -fx-background-color: linear-gradient(to bottom, #2c3e50, #4ca1af);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 15, 0, 0, 5);
    -fx-padding: 10px;
    -fx-background-radius: 15px; /* Rounded corners */
}

.login-container {
    -fx-background-color: linear-gradient(to bottom, #2c3e50, #4ca1af);
    -fx-background-radius: 10;
    -fx-padding: 40px;
    -fx-spacing: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 15, 0, 0, 5);
}

/* Header-Stile */
.header-title {
    -fx-text-fill: rgb(237, 241, 243); /* Lighter blue */
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.subheader {
    -fx-text-fill: #CCCCCC; /* Lighter gray */
    -fx-font-size: 16px;
}

/* Formular-Box */
.form-box {
    -fx-min-width: 350px;
    -fx-padding: 20px 0;
}

/* Eingabefelder */
.input-field {
    -fx-background-color: white;
    -fx-border-color: #ddd;
    -fx-border-radius: 5px;
    -fx-padding: 12px;
    -fx-font-size: 14px;
    -fx-text-fill: #333333; /* Darker text for better readability */
}

/* Hyperlink-Stil */
.hyperlink {
    -fx-text-fill: #1d2f3e; /* Lighter blue */
    -fx-font-size: 14px;
    -fx-alignment: center;
}

.primary-button {
    -fx-background-color: linear-gradient(to bottom, #2c3e50, #4ca1af);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 15, 0, 0, 5);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 12px 30px;
    -fx-border-radius: 6px;
    -fx-cursor: hand;
    -fx-background-radius: 15px; /* Rounded corners */
}

.primary-button:hover {
    -fx-background-color: #1E4563;
}

.secondary-button {
    -fx-background-color: transparent;
    -fx-text-fill: #A3C9F1;
    -fx-border-color: #A3C9F1;
    -fx-border-radius: 15px;
    -fx-font-size: 16px;
    -fx-padding: 12px 30px;
    -fx-cursor: hand;
    -fx-background-radius: 15px; /* Rounded corners */
}

.secondary-button:hover {
    -fx-background-color: #1E4563;
    -fx-text-fill: white;
    -fx-border-color: transparent; /* Remove border color */
}

.hbox-buttons {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}
